* {
  margin: 0;
  padding: 0;
  background-color: rgb(53, 53, 53);
  color: white;
}

.bg-light {
  color: black;
}
#inputFormsAndButton {
  text-align: center;
}
.inputFields {
  display: flex;
}

#buttons {
  text-align: center;
}

.button {
  margin-right: 15vw;
  margin-left: 15vw;
}

#tableBody, #tableHeader {
  text-align: center;
}


